{% load static %}
{% load pwa %}

<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>E3A | {% block title %}{% endblock %}</title>
</head>
    <body class="bg-dark">
            <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" aria-label="Main navigation">
              <div class="container-lg">
                <a class="navbar-brand fs-3 fw-bold text-primary" href="{% block logo-link %}{% endblock %}">E3A</a>
                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse offcanvas-collapse bg-light" id="navbarsExampleDefault">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'my_redirect' %}"><i class="fa-solid fa-house-chimney"></i> Страница перехода</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav float-right">
                      <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-file-circle-question"></i> Нужна помощь?</a>
                      <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-info"></i> Инструкция</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-envelope"></i> Обратная связь</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-question"></i> О проекте</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <hr>
            <div class="container-lg bg-light rounded g-lg-10 me-auto">
                <div class="row rounded p-3">
                    <p class="text-success fw-bold my-2">Страница перенаправления Администратора.</p>
                    <hr class="my-3">
                        <p class="fluid text-center fs-1 mt-3"><i class="fa-solid fa-user-gear"></i></p>
                        <h3 class="fluid text-center fw-bold mb-3">
                            {{ user.full_name }}
                        </h3>
                        <h3 class="fluid text-center">
                            Вы вошли как Администратор Электронного Ассистента. 
                        </h3>
                        <h3 class="fluid text-center">
                            Пожалуйста выберите действие. 
                        </h3>
                        <p class="fluid text-center mt-3">
                            <a class="btn btn-outline-success btn-lg" href="/admin" role="button">Продолжить</a>
                        </p>
                        <p class="fluid text-center mb-3">
                            <a class="btn btn-outline-danger btn-lg" href="{% url 'logout' %}" role="button">Выход</a>
                        </p>
                        <hr class="my-3">
                        <small class="text-muted text-center">
                            К сожалению, Администратору Электронного Ассистента, не доступен пользовательский интерфейс.
                        </small>
                    </table>
                </div>
            </div>
          <footer class="py-3 my-4">
              <hr class="bg-secondary">
              <p class="text-center text-muted">
                  <a class="text-center text-muted" href="https://kstu.kg">КГТУ им. И. Раззакова</a>
              </p>
              <p class="text-center text-muted">
                  <a class="text-center text-muted" href="https://kstu.kg/fakultety/fakultet-informacionnykh-tekhnologii">ФИТ / ИВТ</a>
              </p>
              <p class="text-center text-muted">
                  <a href="mailto:rustam.bayakeev@gmail.com"><i class="text-center text-muted fa-regular fa-envelope"></a></i>
                  Баякеев Рустам Исламбекович ИВТ-1-18
              </p>
          </footer>
          <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
          <script src="{% static 'js/offcanvas.js' %}"></script>
    </body>
</html>