{% load static %}
{% load pwa %}
<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">
    <title>E3A | {% block title %}{% endblock %}</title>
</head>
    <body class="bg-dark">
      {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" aria-label="Main navigation">
        <div class="container-lg">
          <a class="navbar-brand fs-3 fw-bold text-primary" href="{% block logo-link %}{% endblock %}">E3A</a>
          <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>          
          <div class="navbar-collapse offcanvas-collapse bg-light text-right" id="navbarSideCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'my_redirect' %}"><i class="fa-solid fa-house-chimney"></i> Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'news' %}"><i class="fa fa-thumbtack"></i> Новости</a>
              </li>
               <ul class="navbar-nav">
              <li class="nav-item dropdown">


                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-bell"></i> Запросы на регистрацию</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                  <li><a class="dropdown-item" href="{% url 'dis' %}"><i class="fa-solid fa-book"></i> Заросы по моим предметам
                    {% for t in teacher %}
                    {% if t.user_id == user.id %}
                      {% for d in dis %}
                        {% if d.teacher_id == t.id %}
                          {% for dr in dis_reg %}
                            {% if dr.discipline_id == d.id %}
                              {% if dr.conf != True and dr.abon != True and dr.hide != True %}
                                <span class="text-light fw-bold border border-rounded3 bg-danger">!</span> 
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% endfor %}  
                  </a>                              
                  </li>
                  <li><a class="dropdown-item" href="{% url 'ac_conf' %}"><i class="fa-solid fa-list"></i> Запросы по регистрационным листам
                    {% for a in advisor %}
                    {% if a.user_id == user.id %}
                        {% for g in groups %}
                            {% if a.id == g.advisor_id %}
                                {% for s in student %}
                                    {% if g.id == s.groups_id %}
                                        {% for dr in dis_reg %}
                                            {% if s.id == dr.student_id %}
                                                {% if dr.send == True %}
                                                    {% if dr.hide != True %}
                                                    <span class="text-light fw-bold border border-rounded3 bg-danger">!</span> 
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}                                        
                        {% endfor %}
                    {% endif %}
                    {% endfor %}  
                  </a></li>
                </ul>
              </li>
          </ul>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-circle-user"></i> {{ user.full_name }}</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="fa-regular fa-address-card"></i> Редактировать профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-arrow-right-from-bracket"></i> Выйти</a></li>
                  </ul>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block body %}{% endblock %}
      {% else %}
      <a href="{% url 'login' %}">Авторизоваться</a>
      {% endif %}
      <footer class="py-3 my-4">
        <hr class="bg-secondary">
        <p class="text-center text-muted">
          <a class="text-center text-muted" href="https://kstu.kg">КГТУ им. И. Раззакова</a>
        </p>
        <p class="text-center text-muted">
          <a class="text-center text-muted" href="https://kstu.kg/fakultety/fakultet-informacionnykh-tekhnologii">ФИТ / ИВТ</a>
        </p>
        <p class="text-center text-muted">
          <a href="mailto:rustam.bayakeev@gmail.com"><i class="text-center text-muted fa-regular fa-envelope"></a></i>
          Баякеев Рустам Исламбекович ИВТ-1-18
        </p>
      </footer>
      <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
      <script src="{% static 'js/offcanvas.js' %}"></script>
  </body>
</html>