{% extends 'base_s.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{title}}
{% endblock %}

{% block logo-link %}
{% url 'my_redirect' %}
{% endblock %}

{% block body %}
                <hr>
                <div class="container-lg bg-light rounded g-lg-10 me-auto px-3 py-1">
                  <p class="text-primary fw-bold my-2">Статистика регистрации:</p>
                    <small class="text-center">
                      <table class="table table-striped table-bordered"> <!-- Все стденты -->
                        <thead>
                          <tr>
                            <th scope="col">Дисциплина</th>
                            <th scope="col">Форма контроля</th>
                            <th scope="col">Всего кредитов</th>
                            <th scope="col">Баллы</th>
                            <th scope="col">Период регистрации</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Дисциплина 1</th>
                            <td>Экзамен</td>
                            <td>6</td>
                            <td>35</td>
                            <td>2021 - 2022</td>
                          </tr>
                          <tr>
                            <th scope="row">Дисциплина 2</th>
                            <td>Курс/Раб</td>
                            <td>1</td>
                            <td>10</td>
                            <td>2021 - 2022</td>
                          </tr>
                          <tr>
                            <th scope="row">Дисциплина 3</th>
                            <td>Зачет</td>
                            <td>4</td>
                            <td>0</td>
                            <td>2020 - 2021 <i class="fa-solid fa-triangle-exclamation text-danger"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </small>
                    <hr>
                    <form action="{% url 'profile' %}" method="post" class="containet-sm px-5" novalidate>
                      <span class="mt-3">
                          <small class="text-danger">
                              {% if form.errors %}
                              {{ form.errors.error }}
                              {% endif %}
                          </small>                                
                          {% csrf_token %}
                          {{ form.student }}
                          {{ form.discipline }}
                          <span class="ml-5">
                              <button class="btn w-50 btn-sm btn-outline-success" type="submit">Добавить в регистрационный лист</button>
                          </span>
                          <hr class="my-4">  
                      </span>
                  </form>
                </div>
{% endblock %}