{% extends 'base_a.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block logo-link %}
{% url 'my_redirect' %}
{% endblock %}

{% block body %}
                <hr>
                <div class="container-lg bg-light rounded g-lg-10 me-auto px-3 py-1">
                  <div class="row my-2 overflow-auto">
                    <p class="text-primary fw-bold my-2">Запросы по моим предметам: </p>
                    <small class="text-center">
                      <form action="" method="POST">
                        {% csrf_token %}
 
                       <table class="table table-striped table-bordered border-$gray-500 rounded"> <!-- Мои группы -->
                         <thead>
                           <tr>
                             <th scope="col">Студент</th>                            
                             <th scope="col">Дисциплина</th>
                             <th scope="col">Форма контроля</th>
                             <th scope="col">Кол-во кредитов</th>
                             <th scope="col">Кол-во часов</th>
                             <th scope="col">Дата создания запроса</th>
                             <th scope="col">Действие</th>
                           </tr>
                         </thead>
                         <tbody>
                         {% for t in teacher %}
                           {% if t.user_id == user.id %}
                             {% for d in dis %}
                               {% if d.teacher_id == t.id %}
                                 {% for dr in dis_reg %}
                                   {% if dr.discipline_id == d.id %}
                                     {% if dr.conf != True and dr.abon != True and dr.hide != True %}
                                     
                                     <tr>
                                       <th scope="row">{{dr.student.name}}, {{dr.student.cipher}}</th>
                                       <td>{{ dr.discipline }}</td>
                                       <td>{{ dr.discipline.form_control }}</td>
                                       <td>{{ dr.discipline.credits }}</td>
                                       <td>{{ dr.discipline.hours }}</td>
                                       <td>{{ dr.date_of_reg}}</td>
                                       <td> 
                                         <div class="form-check">
                                           <input class="form-check-input" type="checkbox" value="{{dr.id}}" name="cnf"><span class="text-success fw-bold">Подтвердить</span>
                                         </div>
                                         <hr class="mt-1 mb-1">
                                         <div class="form-check">
                                           <input class="form-check-input" type="checkbox" value="{{dr.id}}" name="abn"><span class="text-danger fw-bold">Отказать</span>
                                         </div> 
                                       </td>
                                     </tr>
 
                                     {% endif %}
                                   {% endif %}
                                 {% endfor %}
                               {% endif %}
                             {% endfor %}
                           {% endif %}
                         {% endfor %}  
                         </tbody>
                       </table>
                       <button class="btn w-50 btn-sm btn-outline-success m-4" type="submit">Сохранить изменения</button>
                     
                     </form>
                    </small>
                  </div>
                  <hr class="my-4">
                  <a href="{% url 'ac_conf' %}" class="btn btn-sm btn-outline-primary m-4 fw-bold">Страница запросов по регистрационным листам <i class="fa-solid fa-arrow-right"></i></a>
                </div>
{% endblock %}