{% extends 'base_t.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block logo-link %}
{% url 'my_redirect' %}
{% endblock %}

{% block body %}
                <hr>
                <div class="container-lg bg-light rounded g-lg-10 me-auto px-3 py-1">
                  <div class="row my-2 overflow-auto">
                    <p class="text-primary fw-bold my-2">Мои предметы: </p>
                    <small class="text-center">
                      <table class="table table-striped table-bordered border-dark rounded"> <!-- Мои группы -->
                        <thead>
                          <tr>
                            <th scope="col">Группа</th>
                            <th scope="col">Курс</th>
                            <th scope="col">Форма обучения</th>
                            <th scope="col">Стоимость кредита</th>
                            <th scope="col">Студенты</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for a in advisor %}
                          {% if user.id == a.user_id %}
            
                            {% for g in groups %}
                              {% if a.pk == g.advisor_id %}
                                  <tr>
                                    <th scope="row">{{ g.name }}</th>
                                    <td>{{ g.cours }}</td>
                                    <td>{{ g.form_of_e }}</td>

                                    {% if g.credit_price == 0 %}
                                      <td class="text-success">Бюджет</td>
                                    {% else %}
                                      <td>{{ g.credit_price }} <u>c</u></td>
                                    {% endif %}

                                    <td class="dropdown">
                                      <button class="btn btn-sm btn-mute dropdown-toggle" type="button" id="asd" data-bs-toggle="dropdown" aria-expanded="false">
                                        Открыть список
                                      </button>
                                      <ul class="dropdown-menu" aria-labelledby="asd">
                                        {% for s in student %}
                                          {% if s.groups_id == g.id %}
                                            <li><a class="dropdown-item" href="#">{{ s.name }}</a></li>
                                          {% endif %}
                                        {% endfor %}
                                      </ul>
                                    </td>
                                  </tr>
                              {% endif %}
                            {% endfor %}
                            
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </small>
                  </div>
                </div>
{% endblock %}