{% extends 'registration/base-login.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock %}

{% block logo-link %}
{% url 'login' %}
{% endblock %}

{% block body %}

                <div class="container-lg m-auto p-auto">
                    <div class="row align-items-center g-lg-5 py-5">
                        <hr>
                        <div class="col-md-10 mx-auto col-lg-5 text-center text-lg-start">
                            <h1 class="display-4 fw-bold lh-1 mb-3 text-light">Вход в систему E3A</h1>
                            <p class="col-lg-10 fs-4 text-light">E3A - электронный ассистент, готовый помочь Академическим советникам и Студентам в коммуникации друг с другом.</p>
                            <p class="col-lg-10 fs-4 text-light">Кредиты, баллы, успеваемость, новости - все в одном месте.</p>
                        </div>
                        <div class="col-md-10 mx-auto col-lg-5">

                            <form action="{% url 'login' %}" method="post" class="p-4 p-md-5 border rounded-3 bg-light" novalidate>
                                <small class="text-danger">
                                    {% if form.errors %}
                                    {{ form.errors.error }}
                                    {% endif %}
                                </small>
                                {% csrf_token %}
                                {{ form | crispy }}
                                <label>
                                    <input type="checkbox" value="remember-me"> Запомнить
                                </label>
                                <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Войти</button>
                                <hr class="my-4">
                                <small class="text-muted">Нажимая кнопку "Войти", вы соглашаетесь с правилами использования системы, и подтверждаете что готовы делиться персональными данными.</small>
                            </form>
                            
                        </div>
                    </div>
                </div>
{% endblock %}

