{% extends 'base_a.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{title}}
{% endblock %}

{% block logo-link %}
{% url 'my_redirect' %}
{% endblock %}

{% block body %}
                <hr>
                <div class="container-lg bg-light rounded g-lg-10 me-auto px-3 py-1">
                  <div class="row rounded border border-dark border-2 my-2">
                    <p class="text-primary fw-bold my-2">Создать новость: </p>
                    <small class="text-center">
                      <form action="{% url 'news' %}" method="POST">
                        {% csrf_token %}
                        {{ form.advisor | as_crispy_field }}
                        <button class="btn w-50 btn-sm btn-outline-success" type="submit" name="create">Создать запрос</button>
                      </form>
                    </small>
                  </div>
                </div>
{% endblock %}