{% extends 'base_s.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block logo-link %}
{% url 'my_redirect' %}
{% endblock %}

{% block body %}
                <hr>
                <div class="container-lg bg-light rounded g-lg-10 me-auto px-3 py-1">
                  <p class="text-primary fw-bold my-2">Общая статистика:</p>
                  <div class="row p-3">
                  {% for s in student %}
                    {% if user.id == s.user_id %}
                              <table class="table"> <!-- Все стденты -->
                                <tbody>
                                  <tr>
                                    <th>ФИО :</th>
                                    <td> {{ s.name }} </td>
                                  </tr>
                                  <tr>
                                    <th>Группа :</th>
                                    <td>{{ s.groups }}</td>
                                  </tr>
                                  <tr>
                                    <th>Курс :</th>
                                    <td>{{ s.course }}</td>
                                  </tr>
                                  <tr>
                                    <th>Советник :</th>
                                    <td>
                                      <span class="fw-bold">ФИО:</span> {{ s.advisor }}
                                      <br>
                                      <span class="fw-bold">Почта: </span>
                                      <a href="mailto:{{ s.advisor.user.email }}" title="Написать">{{ s.advisor.user.email }}</a>
                                      <br>
                                      <span class="fw-bold">Телефон: </span>
                                      <a href="tel:{{ s.advisor.user.phone_number }}" title="Позвонить">{{ s.advisor.user.phone_number }}</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>Кредитов зарегистрированно :</th>
                                    <td> 
                                      <span class="text-secondary">
                                        {{ cf }}
                                      </span>
                                    / <span class="text-success">120</span></td>
                                  </tr>
                                </tbody>
                              </table>

                    {% endif %}
                  {% endfor %}
                  </div>
                  <div class="row my-2 overflow-auto">
                    <p class="text-primary fw-bold my-2">Статистика по предметам:</p>
                    <small class="text-center">
                      <table class="table table-striped table-bordered"> <!-- Все стденты -->
                        <thead>
                          <tr>
                            <th scope="col">Дисциплина</th>
                            <th scope="col">Форма контроля</th>
                            <th scope="col">Кол-во кредитов</th>
                            <th scope="col">Кол-во часов</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Дата создания запроса</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for s in student %}
                            {% if s.user_id == user.id %}
                              {% for dr in dis_reg %}
                                {% if s.id == dr.student_id %}
                                {% if dr.conf == True %}
                                  <tr>
                                    <th scope="row">{{ dr.discipline }}</th>
                                    <td>{{ dr.discipline.form_control }}</td>
                                    <td>{{ dr.discipline.credits }}</td>
                                    <td>{{ dr.discipline.hours }}</td>
                                    <td>
                                      {% if dr.hide == False %}
                                          {% if dr.academ_c == True %}
                                            <span class="text-success fw-bold">Подтверждено советником</span>
                                          {% elif dr.academ_a == True %}
                                            <span class="text-danger fw-bold">Отказано советником</span>
                                          {% else %}
                                            <span class="text-primary fw-bold">Запрос поступил советнику</span>
                                          {% endif %}
                                      {% elif dr.hide == True%}
                                          {% if dr.academ_c == True %}
                                            <span class="text-success fw-bold">Подтверждено деканатом</span>
                                          {% endif %}  
                                      {% endif %}
                                    </td>
                                    <td>{{ dr.date_of_reg}}</td>
                                  </tr>
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </small>
                  </div>
                </div>
{% endblock %}